body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'BaksoSapi';
  src: url('./resources/fonts/BaksoSapi.otf') format('truetype');
}

@font-face {
  font-family: 'Singkong';
  src: url('./resources/fonts/Singkong.otf') format('truetype');
}



@font-face {
  font-family: '8bitArcadeIn';
  src: url('./resources/fonts/8bitArcadeIn.ttf') format('truetype'); /* Ensure the file path is correct */
}

body {
  background: linear-gradient(to bottom, #f5eccd, #fbfeda);
  color: #333;
  font-family: 'Courier New', monospace;
}

.window {
  background: #F8F4E8;
  border: 3px solid #333;
  border-radius: 5px;
  box-shadow: 4px 4px 0px #A8A29E;
  padding: 20px;
}
